@charset "UTF-8";


body{	
	margin: 0;
	font-size: 6vw;
	margin-top: 4vw;
	background-color: #faf2d6;
	background-image: radial-gradient(circle, #bacfff80 1vw, transparent 1vw);
	background-position: 0 0;
	background-size: 20vw 20vw;
}


.main{
	position: relative;
}

.cart-product-display {
	font-size: 5vw;
	position: relative;
	bottom: 1vw;
	left: 2vw;
}

.sum-price{
	text-align: right;
	padding: 2vw;
	font-size: 5vw;
	position: relative;
	bottom: 3vw;
	}

.product-sum {
	font-size: 4vw;
}

.pay-ment{
	display: flex;
	justify-content: center;
	padding-bottom: -10vw;
  position: fixed;
  bottom: 23vw;/*自分が固定したい位置(例は上から0pxの位置)*/
  left: 25vw;/*自分が固定したい位置(例は左から10pxの位置)*/
}
.pay-ment input{
	font-size: 4vw;
	width: 50vw;
	height: 10vw;
	background-color: white;
	color: black;
}
#btn-wrapper{
	text-align: right;
	padding-right: 2vw;
	padding-bottom:1vw;
	margin-top: -5.7vw;
	border-bottom: 2px solid black;
}
.product-infomation{
	text-align: left;
	padding: 5vw 0 0 2vw;
}
.product-img{
	width: 20vw;
	height: 15vw;
	border: 1px solid;
}
.total-monetary{
	border-bottom: 1px solid black;
}

.detail-btn button{
	border-width: 0.5vw;
	border-color: #008080;
	background-color: white;
	border-radius: 5vw;
	width: 7vw;
	height: 7vw;
	font-size: 5vw;
	text-decoration: none;
	color: #008080;
}

#piece{
	margin-right: 1vw;
	margin-left: 1vw;
	font-size: 5vw;
}

/*input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
  appearance: none;
  margin: 0;
}*/

