@charset "UTF-8";


body{	
	margin: 0;
	font-size: 4vw;
}


.main{
	position: relative;
}

.sum-price{
	text-align: right;
	}
.pay-ment{
	display: flex;
	justify-content: center;
	padding-bottom: -10vw;
  position: fixed;
  bottom: 23vw;/*自分が固定したい位置(例は上から0pxの位置)*/
  left: 25vw;/*自分が固定したい位置(例は左から10pxの位置)*/
}
.pay-ment input{
	font-size: 4vw;
	width: 50vw;
	height: 10vw;
	background-color: white;
	color: black;
}
.price{
	text-align: right;
}
.product-infomation{
	text-align: left;
}
.total-monetary{
	border-bottom: 1px solid black;
}


/*input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
  appearance: none;
  margin: 0;
}*/

