@charset "UTF-8";

.QR-button{
  	position: fixed;  /* 画面に固定 */
  	top: 12vh;     /* 画面下から20px */
  	left: 5vw;      /* 画面右から20px */
  	z-index: 1000;    /* 他の要素より前面に */
	width: 60px;       /* 幅 */
  	height: 60px;       /* 高さ */
  	font-size: 18px;    /* 文字の大きさ */
}

.regist-button{
	position: fixed;  /* 画面に固定 */
  	bottom: 12vh;     /* 画面下から20px */
  	right: 5vw;      /* 画面右から20px */
  	z-index: 1000;    /* 他の要素より前面に */
  	border: 2px solid #3f4a4a;
  	border-radius: 30px;
	width: 30vw;       /* 幅 */
  	height: 8vh;       /* 高さ */
  	font-size: 18px;    /* 文字の大きさ */
  	color: #fff;
  	background: #0b76a0;
}

/* 写真の場所のとこ全体の調整をするやーつ */
.photo-gallery {
    display: flex;              /* 横並びに */
    flex-wrap: wrap;            /* 画面が狭くなったら折り返す */
    gap: 16px;                  /* 写真間の余白 */
    justify-content: center;   /* 中央寄せ */
    padding: 20px;
}

/* 各写真の調整用 */
.photo-gallery img {
    width: 25vw;               /* 幅 */
    height: 25vh;              /* 高さ */
    object-fit: cover;         /* トリミングしてサイズ内に収めるやーつ */
    border: 2px solid #ccc;    /* 枠線 */
    border-radius: 8px;        /* 角丸にするやーつ（不要なら消す） */
    cursor: pointer;           /* マウスカーソルをポインターにするやーつ */
    transition: transform 0.2s;
}


/* 商品詳細の背景 */
.edit-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /*最初は非表示by中村*/
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.edit-modal-image{
	width: 45vw;
	height: 45vw;
    border-radius: 6px;
    margin-left:12vw;
}


/* 商品詳細 */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 70vW;
    position: relative;
}

/*商品追加の背景*/
.add-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.add-modal-image{
	width: 45vw;
	height: 45vw;
    border-radius: 6px;
    margin-left:12vw;
}


/* 閉じるボタン */
.modal-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
}

#Explanation{
	height: 20vw;
}

.registration{
	margin-left: 22vw;
	width: 25vw;
	height: 10vw;
	background-color: white;
	color: black;
	border-radius: 2vw;
	}
	
input[type="text"]{
	width: 65vw;	
	height: 6vw;
}

	
@media (max-width: 600px) {
    .photo-gallery img {
        width: 50vw;
    }
}