@charset "UTF-8";

body {
	background-color: #f2f2f2;
}
.header {
	padding: 100px;
	text-align: center;
	line-height: 2;
	background-color: #3a7d23;
	
}

.login {
	padding: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	
}

.login-tb {
	width: 170px;
	height: 30px;
	margin: 10px 0 10px 0;
}

.button {
	width: 170px;
	height: 30px;
	margin: 10px 0 10px 0;
}