@charset "UTF-8";

.productDisplay {
	display: grid;
	flex-flow: column;
	max-width: 450px; /*あとで消す*/
    margin: auto 0;
    padding: 80px;
    gap: 20px;
}

.product {
	display: flex;
	flex-flow: column;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 30px;
	text-align: left;
}

.productPicture {
	text-align: center;
}

.productPrice {
	text-align: right;
}