@charset "UTF-8";

body {
	overflow-x: hidden;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: #fafafa;
	font-weight: normal;
	text-align: center;
}

.order-container {
	width: 80vw;
	padding: 0 10vw;
	margin-top: 15vw;
}

.order-list {
	width: 80vw;
}

.order-list th {
	background-color: #0b76a0;
	color: #fff;
}

.order-info-header span {
	margin-left: 2vw;
}

.order-detail-modal {
	display: none;
	position: fixed; /* 画面に固定 */
	overflow: auto; /* 内容がはみ出た場合にスクロール可能に */
	margin: 0 auto;
	border: 1px solid black;
	background-color: #fff;
/*	justify-content: center; */
/*	align-items: center; */
}

.order-detail-modal-content {
	padding: 2vw;
	min-width: 10vw;
}

.order-info-table {
	margin: auto;
}

.close-button {
	color: #aaa;
	float: right;
	font-size: 3vw;
	font-weight: bold;
	cursor: pointer;
	margin-right: 1vw;
	margin-bottom: 1vw;
}

.close-button:hover, .close-button:focus {
	color: #333;
	text-decoration: none;
	cursor: pointer;
}