@charset "UTF-8";


.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}


/*↓は中村追加欄　テスト及び調整用*/
table {
        border-collapse: collapse;
}
table td, table th {
        padding: 5px;
        border: 1px solid black;
}