@charset "UTF-8";

body {
	background-color: #faf2d6;
	
}

.container {
	text-align: center;
	padding-top: 100px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	
	
}

.detail {
	font-size: 5vw;
	margin: 20px 0 20px 0;
	justify-content: center;
}

.box {
	border: 2px solid black;
	padding: 50px;
	width: 88vw;
}

.total {
	margin-right: 160px;
}

.detail-btn {
	font-size: 5vw;
	margin-left: 160px;
	justify-content: right;
}

.cart-btn {
	margin-top: 10vw;
	justify-content: center;
	
}

.header {
	position:fixed;
	top: 0;
	width: 100vw;
	background-color: #ed7d31;
	padding: 20px;
	text-align: center;
	

}

.footer {
	position:fixed;
	bottom: 0;
	width: 100vw;
	background-color: #ed7d31;
	padding: 20px;
	text-align: center;
}
