@charset "UTF-8";

body {
	background-color: #faf2d6;
	margin: 0;
	margin-bottom: 22vw;
	background-image: radial-gradient(circle, #bacfff80 1vw, transparent 1vw);
	background-position: 0 0;
	background-size: 20vw 20vw;
}

.container {
	text-align: center;
}

.img {

	margin-right: 9vw;
	margin-left: 27vw;
	margin-top: 23vw;
}

.eximage {
	max-height: 50vw;
	max-width: 50vw;
	border: 2px solid black;
	border-radius: 3vw;	
}

.name {
	text-align: left;
	margin-bottom: 0;
	margin-left: 10vw;
}

.box {
	border-top: 2px solid #515a5a;
	border-bottom: 2px solid #515a5a;
	margin: 0 9vw 0 9vw;
	padding: 2vw;
	text-align: left;
	
}

.detail {
	font-size: 5vw;
	padding-top:0.5vw; 
	margin: 15vw 8vw 5vw 8vw;
	justify-content: center;
	background-color: rgba(255,255,255, 0.5);
	
}

.total {
	margin-right: 10vw;
}

.detail-btn {
	font-size: 5vw;
	justify-content: right;
}


.detail-btn button{	
	border-width: 0.5vw;
	border-color: #008080;
	background-color: white;
	border-radius: 5vw;
	width: 7vw;
	height: 7vw;
	font-size: 5vw;
	text-decoration: none;
	color: #008080;
}

.cart-btn {
	margin-top: 10vw;
	justify-content: center;
}

.cart-btn input {
	font-size: 4vw;
	width: 50vw;
	height: 10vw;
	background-color: white;
	color: black;
}
