@charset "UTF-8";

body {
	background-color: #faf2d6;
	
}

.container {
	text-align: center;
	padding-top: 100px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	
	
}

.detail {
	margin: 20px 0 20px 0;
	justify-content: center;
}

.total {
	margin-right: 160px;
	
}

.detail-btn {
	margin-left: 160px;
	justify-content: right;
}

.cart-btn {
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: center;
	
}

.header {
	background-color: #ed7d31;
	padding: 20px;
	text-align: center;
	

}

.footer {
	background-color: #ed7d31;
	padding: 20px;
	text-align: center;
}
