@charset "UTF-8";

.product-display {
	display: grid;
	flex-flow: column;
	max-width: 80vw;
    padding: 10vw;
    gap: 2vw;
}

.product {
	display: flex;
	flex-flow: column;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 3vw;
	text-align: left;
}

.product-picture {
	text-align: center;
}

.product-price {
	text-align: right;
}