@charset "UTF-8";

body {
	background-color: #faf2d6;
	margin: 0;
}

.quest {
	text-align: center;
	font-size: 5vw;
	margin-top: 19vw;
	margin-bottom: 5vw;
	margin-left: 2vw;
}

.btn {
	padding: 5vw;
	margin-right: 3vw;
	text-align: center;
}

.btn input {
	width: 25vw;
	height: 10vw;
	font-size: 5vw;
}

.result {
	text-align: center;
	margin-top: 13vw;
}

.result input {
	width: 20vw;
	height: 8vw;
	font-size: 4vw;
}