@charset "UTF-8";

*{
	
}

body{
	background-color:  #F2f2f2;
}

header{
	position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
	background-color: #3a7d23;
	height: 4vw;
}



/*.header-content{
	display: flex;
}*/

main{
	padding-top: 4vw;
}

footer{
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
	background-color: #3a7d23;
	padding: 30px;
}

.footer-content{
	
}

.header-left, .header-center, .header-right {
      position: absolute;
      top: 50%;
      white-space: nowrap;
}
    
.header-left {
	left: 1vw;
	transform: translateY(-100%);
}

.header-left p {
  margin: 0;
  line-height: 1;
  padding: 0;
}

.header-center {
	left: 50%;
	transform: translate(-50%,-100%);
}

.header-center p {
  margin: 0;
  line-height: 1;
  padding: 0;
}

.header-right {
	right: 1vw;
	transform: translateY(-50%);
}



.footer-center{
	position: absolute;
    top: 50%;
    white-space: nowrap;
    left: 50%;
	transform: translate(-50%,-50%);
}

.footer-center button{
	margin: 0;
  line-height: 1;
  padding: 0;
}

.modal-button{
font-size: 24px;
      background: none;
      border: none;
      color: white;
      cursor: pointer;
}

.header-p{
	color:white;
}

.container{
	margin: 20px 0;
	padding: 40px;
	display:flex;
	flex-direction: column;
	align-items: center;
}

