@charset "UTF-8";


.wait-body{	
	margin: 0;
	font-size: 6vw;
}
.number{
	text-align: center;
}
.price{
	border: 1px solid black;
	padding:0 10vw;
}

/*モーダル内のテキストのレイアウト*/
.message{
	width: 80vw;
	height: 50vw;
	margin: auto auto auto auto;
	padding-top: 4vw; 
	padding-bottom: 2vw;
	border: 1px solid black;
	text-align: center;
}
/*デフォルトメッセージのレイアウト*/
.message-top{
	text-align: center;
}
/*合計金額のレイアウト*/
.sum-price{
	text-align: center;
}
/*支払い状態のレイアウト*/
.status{
	display: flex;
	justify-content: center;
	padding: 0 10vw;
	position: fixed;
	bottom: 40vw;/*自分が固定したい位置(例は上から0pxの位置)*/
	left: 32vw;/*自分が固定したい位置(例は左から10pxの位置)*/
	border: 5px dotted #008080;
}


/* ******************************************
			以下モーダル処理（頑張ります泣）
****************************************** */
/*モーダル全体を非表示にする*/
.modal{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: none;
	z-index: 1000;
}
/*モーダルを表示した時のスタイル*/
.modal-container{
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#messageDefault{
	display: block;
}
#modal-close-container{
	text-align: right;
	padding: 2vw 2vw 0 0;
}
#modalClose{
	margin-bottom: 5vw;
}

