@charset "UTF-8";

.number{
	text-align: center;
}
.price{
	border: 1px solid black;
	padding:0 10vw;
}
.message{
	width: 25vw;
	height: 10vw;
	margin: auto auto auto auto;
	padding-top: 4vw; 
	padding-bottom: 2vw;
	border: 1px solid black;
	text-align: center;
}
.message-top{
	text-align: center;
}
.sum-price{
	text-align: center;
}
.status{
	margin-left: 2vw;
}